body {
  font-family: var(--SiteFF);
  margin: 0;
  background: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
}

.logo {
  width: 96px;
  margin-top: 8px;
}

.status-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 1em;
  box-sizing: border-box;
  gap: 16px;
}

.illustration {
  width: 240px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 800;
  color: var(--body-text-color);
  margin-top: 16px;
}

.description {
  font-size: 16px;
  color: var(--body-text-color);
  font-weight: 400;
  margin-bottom: 0;
}

.caption {
  text-align: center;
}

.btn-submit,
.input[type="submit"] {
  font-size: 1em;
  font-weight: 800;
  line-height: 28px;
  background-color: #ff4500;
  border: none;
  padding: 8px 56px;
  color: #fff;
  border-radius: 24px;
  margin-top: 16px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
}

.step-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 1.5em;
  border-radius: 1em;
  box-sizing: border-box;
}

.step-index {
  display: inline-flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: #ff4500;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 8px;
}

.upload-step {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.placeholder-img {
  width: 156px;
  height: 156px;
  border-radius: 1em;
  object-fit: contain;
  border: solid 1px #e6e6e6;
}

.require-title {
  color: var(--body-text-color);
  font-size: 1.4em;
  margin-bottom: 8px;
}

.require-list {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 12px;
  margin-left: 20px;
  list-style-type: decimal;
  font-size: 14px;
}

.date-tag {
  background-color: #f3f3f3;
  padding: 8px;
  margin: 4px;
  color: var(--CPT-CLR);
  border-radius: 4px;
}

input[type="file"] {
  /* display: none; */
}

.select-image {
  padding: 1em 2em;
  border-radius: 2em;
}

.disabled {
  display: none;
}

.oversize {
  color: red;
}

@media (min-width: 640px) {
  .status-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 3em;
  }
  .caption {
    text-align: left;
  }
  .step-card {
    padding: 3em;
  }
  .upload-step {
    flex-direction: row;
  }
  .text {
    align-items: start;
  }
  .brand-card {
    flex-direction: row;
  }
}
